$Mui-blue: #1976d2;
$Small-Viewport: 600px;
$Medium-Viewport: 1300px;
$Large-Viewport: 1200px;
$Secondary-Header: #eee;

:root {

  .center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .MuiPaper-root {

    .chart-container {
      width: min(80vw, 80vh);
      height: min(80vw, 80vh);
    }

    @media (min-width:$Small-Viewport) {
      .chart-container {
        width: min(40vw, 40vh);
        height: min(40vw, 40vh);
      }
    }

    // @media (min-width:$Medium-Viewport) {
    //   .chart-container {
    //     width: min(50vw, 50vh);
    //     height: min(50vw, 50vh);
    //   }
    // }

    @media (min-width:$Large-Viewport) {
      .chart-container {
        width: 60vw;
        height: 35vh;
      }
    }
  }

  .row {
    display: flex;
    justify-content: space-evenly;
  }

  @media (max-width:$Small-Viewport) {
    .row {
      flex-direction: column;
      display: flex;
      align-items: center;
    }
  }

  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .MuiCard-root {
    background-color: $Secondary-Header;
  }

  .MuiTableRow-head {
    background-color: $Secondary-Header;
  }

  .MuiCardHeader-root {
    background-color: $Mui-blue;
  }

  .MuiCardHeader-title {
    color: white;
  }

  .MuiCardHeader-subheader {
    color: white;
  }
}