:root {

  .dashboard-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
  }

  .auth-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .MuiCard-root {
      display: flex;
      flex-direction: column;

      form {
        input {
          display: block;
          margin-bottom: 1em;
        }

        button {
          display: block;
          margin: auto;
        }
      }

    }
  }

  .row {
    display: flex;
    justify-content: space-evenly;
  }

  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

}