.dashboard-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  justify-items: center;
}

.auth-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .MuiCard-root {
    display: flex;
    flex-direction: column;

    form {
      input {
        display: block;
        margin-bottom: 1em;
      }

      button {
        display: block;
        margin: auto;
      }
    }

  }
}

// .MuiCard-root {
//   margin-bottom: 1em;
//   text-align: center;
//   display: flex;
//   align-items: center;
//   /* Align items vertically */
//   justify-content: center;
//   /* Align items horizontally */
//   height: min(500px, 40vw);
//   width: min(500px, 40vw);
// }