$Mui-blue: #1976d2;
$Max-Width: 600px;

:root {

  .center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .chart-container {
    width: 45vw;
    height: 40vh;
  }

  @media (max-width:$Max-Width) {
    .chart-container {
      width: 100vw;
      height: 50vh;
    }
  }

  .row {
    display: flex;
    justify-content: space-evenly;
  }

  @media (max-width:$Max-Width) {
    .row {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  @media (max-width:$Max-Width) {
    .column {
      margin: 1em;
    }
  }

  .MuiChartsAxis-tickLabel {
    transform: rotate(10deg);
    transform-origin: top left;
  }

  .MuiCard-root {
    background-color: #eee;
  }

  .MuiTableRow-head {
    background-color: #eee;
  }

  .MuiCardHeader-root {
    background-color: $Mui-blue;
  }

  .MuiCardHeader-title {
    color: white;
  }

  .MuiCardHeader-subheader {
    color: white;
  }
}